.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 50vw;
    margin: 0.6rem;
}

.flex-box>* {
    margin: 0.5rem;
    padding: 1rem;
    flex-grow: 1;
    border: 1px solid gray;
}

form>* {
    font-weight: 800;
    font-family: monospace;
    font-size: 1.2rem;
    display: block;
    padding: 0.2rem;
    margin: 1rem;
}

form input {
    border: none;
    border-bottom: 2px solid black;
    margin-left: 0.7rem;
}

form input[type="submit"] {
    border-radius: 25px;
    padding: 1rem;
    margin-top: 2rem;
    font-family: monospace;
    letter-spacing: 0.1rem;
    font-weight: bold;
}